$color-primary-grey: #555559;
$color-grey-lightest: #a4a4a4;
$color-grey-2: #747474;
$color-grey-3: #636363;

$color-primary-yellow: #ffb800;
$color-yellow-light: #f3c424;
$color-yellow-dark: #c58e01;

$color-white: #ffffff;

$font-primary: Montserrat, Arial, sans-serif;

$shadow: 5px 10px 30px 0px rgba(46, 46, 46, 0.35);
