body {
  background: #555559;
  color: #ffffff;

  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Montserrat, Arial, sans-serif;
  flex-direction: column;
}

/* ФОРМА */
.form-container {
  width: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form {
  width: 80%;
}

.form--item {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.form--label {
  margin-right: 30px;
  padding-top: 5px;
}

.form--scale {
  position: relative;
  width: 670px;
}

.form-field {
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  appearance: none;
  background-color: #ffb800;
  height: 3px;
}

.form-field:focus {
  outline: none;
}

.form-field::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #383838;
  border: #ffb800 2px solid;
  cursor: pointer;
}

.form--minmax {
  display: flex;
  justify-content: space-between;
}

/* BUBBLE FOR THE FORM INPUTS */
.bubble {
  background: #ffb800;
  color: black;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.bubble::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  background: #ffb800;
  left: 50%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translate(-50%, -112%);
}

/* ОКУПАЕМОСТЬ */
#paybackText {
  align-self: flex-start;
  font-size: 25px;
}

/* ИНФО ПРО РОБОТОВ */
.information {
  display: none;
}

/* BUTTON */
.submit-btn {
  display: block;
  width: 50%;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #ffb800;
  background-color: #ffb800;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.submit-btn:focus {
  outline: none;
}

.submit-btn:hover {
  background-color: #f3c424;
}

.submit-btn:active {
  transform: translateY(3px);
}

@media only screen and (max-width: 900px) {
  .form--item {
    display: block;
  }

  .form--scale {
    width: 100%;
  }
}
