* {
  box-sizing: border-box;
}

body {
  background: #555559;
  color: #ffffff;
  margin: 0;

  font-family: Montserrat, Arial, sans-serif;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
/* ФОРМА */
.form-container {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 35px;
}

.form--item {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.form--label {
  padding-top: 5px;
  max-width: 35%;
  display: block;
}

.form--scale {
  position: relative;
  width: 60%;
}

.form-field {
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  appearance: none;
  background-color: #ffb800;
  height: 3px;
}

.form-field:focus {
  outline: none;
}

.form-field::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #383838;
  border: #ffb800 2px solid;
  cursor: pointer;
}

.form--minmax {
  display: flex;
  justify-content: space-between;
}

/* BUBBLE FOR THE FORM INPUTS */
.bubble {
  background: #ffb800;
  color: black;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.bubble::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  background: #ffb800;
  left: 50%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translate(-50%, -112%);
}

/* ОКУПАЕМОСТЬ */
.payback {
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* ИНФО ПРО РОБОТОВ */
.information {
  display: none;
}
.information.is-visible {
  display: block;
}

.information--btn,
.information--btn:active,
.information--btn:visited {
  padding: 5px 0px;
  border-bottom: 4px dashed #ffb800;
  font-weight: 700;
  line-height: 200%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.information--text {
  padding: 10px;
  list-style: none;
  position: relative;
  display: none;
  transition: max-height 1s ease-out;
}
.information--text.is-visible {
  display: block;
}

.information--text > li {
  padding: 5px;
  margin-left: 10px;
}

.information--text > li:before {
  content: "—";
  position: absolute;
  left: 0;
}

/*#information--check,
.information--text {
  display: none;
}

.information--label {
  padding: 5px;
  border-bottom: 4px dashed #ffb800;
  font-weight: 700;
  line-height: 200%;
}

.information :checked ~ .information--text {
  display: block;
}

.information--text {
  padding: 10px;
  list-style: none;
  position: relative;
}

.information--text > li {
  padding: 5px;
  margin-left: 10px;
}

.information--text > li:before {
  content: "—";
  position: absolute;
  left: 0;
}*/

/* BUTTON */
.submit-btn {
  display: block;
  width: 50%;
  padding: 15px;
  margin: 20px auto;
  border: none;
  background-color: #ffb800;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.submit-btn:focus {
  outline: none;
}

.submit-btn:hover {
  background-color: #f3c424;
}

.submit-btn:active {
  transform: translateY(3px);
}

/* TABLE SECTION */
.result {
  /*background-color: #ffb800;
  color: #000000;*/
  background-color: #555559;
  color: #ffffff;
  display: block;
  width: 100%;
  height: 60vh;
  overflow: auto;
  margin-bottom: 30px;
  box-shadow: 5px 10px 30px 0px rgba(46, 46, 46, 0.35);
  -webkit-overflow-scrolling: auto;
}

#resultTable {
  width: 100%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  font-size: 15px;
  border-collapse: collapse;
  text-align: right;
  max-height: 50vh;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #a4a4a4;
  border-left: none;
  max-width: 210px;
}

th {
  text-align: right;
  background-color: #747474;
  position: sticky;
  top: 0;
  z-index: 2;
}

tr:hover {
  background-color: #747474;
}

td:first-child {
  text-align: left;
  min-width: 40px;
  background-color: #636363;
  position: sticky;
  left: 0;
  z-index: 1;
}

th:first-of-type {
  z-index: 3;
  position: sticky;
  left: 0;
}

th + td {
  min-width: 400px;
}

.result::-webkit-scrollbar {
  width: 10px;
}

.result::-webkit-scrollbar-track {
  background-color: rgba(223, 223, 223, 0.267);
}

.result::-webkit-scrollbar-thumb {
  background-color: #ffb800;
}

@media only screen and (max-width: 900px) {
  .form--item {
    display: block;
  }

  .form--scale {
    width: 100%;
  }

  .form--label {
    max-width: 100%;
  }

  .result {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    padding: 0 15px;
  }
  .form-container {
    width: 100%;
  }
  .payback {
    font-size: 24px;
  }
}
